.title {
    font-family: Georgia;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.equation {
    font-size: 36px;
}

.number {
    background-color: yellow;
    padding: 10px;
}

.task3Heading {
    margin-top: 100px;
}