.category1 {
    padding-right: 100px;
}

.category2 {
    padding-left: 100px;
}

.word {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 60px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}